{% extends 'contacts/base.html' %}
{% block 'body' %}
</br></br>
<center>
    <div class="card" style="width: 28rem;">
        <div class="card-header" style="font-family: Helvetica; font-size: x-large; color: blueviolet;">
            Add a contact
        </div>
        <div class="card-body">
            <p class="card-text">
                <form method="POST" action="">
                    {% csrf_token %}               
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-info btn-lg">Save</button>
                </form>
            </p>       
        </div>

    </div>       
</center>


{% endblock %}