<!doctype html>
<html lang="en" data-bs-theme="auto">
  {% load static %}
  <head>
    <title>Contactslist</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>  
    {% include 'contacts/navbar.html' %}
<main>

    {% block 'body' %}
    {% endblock %}

</main>


<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

    </body>
</html>
