{% extends 'contacts/base.html' %}
{% block 'body' %}
</br>
<center>
    <form method="POST">{% csrf_token %}
        
        <p style="font-size: x-large;">Are you Sure to delete '{{ contact }}'?</p>
        <p style="font-size: x-large;">This can't be undone!</p>
    
        <input type="submit" class="btn btn-danger btn-lg" value="Confirm"/>
        <a class="btn btn-outline-warning btn-lg" href="{% url 'listcontacts' %}" role="button">Cancel</a>
    </form>
</center>
{% endblock %}