{% extends 'contacts/base.html' %}
{% block 'body' %}
</br></br>
<center>
    <div class="card" style="width: 38rem;">
        <div class="card-header" style="font-family: Helvetica; font-size: x-large; color: blueviolet;">
            Delete Contact
        </div>
        <div class="card-body">
            <p class="card-text">
                <form method="POST">{% csrf_token %}
                    <p style="font-size: x-large;">Are you sure to delete '{{ contact }}'?</p>
                    <p style="font-size: x-large;">This can't be undone!</p></br>
                    <input type="submit" class="btn btn-outline-danger btn-lg" value="Confirm"/>
                    <a class="btn btn-outline-secondary btn-lg" href="{% url 'listcontacts' %}" role="button">Cancel</a>
                </form>
            </p>
        </div>
    </div>

</center>
{% endblock %}